@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

#wrap {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #ff7733;
  color: #FFFFF0;
  padding: 20px;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

.main-menu {
  background: #ff7733;
  color: #FFFFF0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-menu ul {
  display: flex;
}

.main-menu ul li a {
  color: #FFFFF0;
  display: block;
  padding: 10px 20px;
  font-family: 'Zen Maru Gothic', sans-serif;
  transition-property: color;
  transition-duration: .5s;
}

.main-menu ul li a :hover {
  color: #FFFFF0;
}

head {
  background-color: #ff7f50;
  color: #333631;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.green {
  color: #228b22;
  
}

.back {
  background-image: url(images/monui.png);
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 16 / 9;
  background-color: #898880;
  border-radius: 20px;
  display: grid;
  place-content: center;
  place-items: center; 
  color: #FFFFF0;
  margin: 20px;
}

main {
  display: flex;
  background-color: #FFFFF0;
  font-family: 'Zen Maru Gothic', sans-serif;
  /* padding: 20px; */
}

iframe{
  display: flex;
  aspect-ratio: 16 / 9;
}

figure {
  width: auto
}

.pic1 img{
  border-radius: 20px;
  width: 400;
  height: auto;
}

.border-inline {
  display: inline-block;
  border-bottom: 3px dashed #ffe4c4;
  padding-bottom: 5px;
  

}

.flex{
  display: flex;
  justify-content:flex-start
  
}

.flex .pic1 img{
  position: relative;
  margin: 10px;
  
}

.flex .right {
  justify-content: flex-start;
  margin-left:auto
}



.sec01 {
  background: #fff7e6;
}

.sec02 {
  background: #FFFFF0;
}

section {
  background: #FFFFF0;
  flex: 3;
  padding: 50px;
  margin-bottom: 20px;
  color: #333631;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.h201 {
 color: #fa8072;
 background: #ffe4c4;
 display:inline-block; 
 padding:15px; 
 border-radius: 10px;

}

.h301 {
  color: #fa8072;

}

.h401 {
  color: #fa8072;

}

.btn{
  display: inline-block;
  background-color: #ffe4c4;
  border-radius: 10px;
  padding: 15px;

  
}



ul{
  list-style-type: circle;
}

article {

  padding: 20px;
  margin-bottom: 20px;
  color: #333631;
  font-family: 'Zen Maru Gothic', sans-serif;
}

main p {
  /* background: #FFFFF0; */
  /* padding: 20px; */
  /* color: #333631; */
  font-family: 'Zen Maru Gothic', sans-serif;
}

aside {
  background: #FFFFF0;
  flex: 1;
}

.sub-menu {
  background: #FFFFF0;
  ;
}

.sub-menu ul li a {
  color: #FFF;
  display: block;
  padding: 10px 20px;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.sub-menu ul li a:hover {
  background: #666;
}

footer {
  background: #FFFFF0;
  color: #898880;
  font-family: 'Quicksand', sans-serif;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

article img {
  max-width: 600px;

  display: block;

  box-sizing: border-box;
}



a {
  color: inherit;
  font-family: 'Zen Maru Gothic', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #fa8072;
}

a:visited {
  color: #FFFFF0;
}

a.pagetop {
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
  border-radius: 25px;
  background-color: #fa8072;
  color: #FDF5E6;
  position: fixed;
  bottom: 20px;
  right: 20px;
}


html {
  scroll-behavior: smooth;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  width: 65%;
  height: auto;
}

.gallery img {
  width: auto;
  height: auto;
}

html,
body {
  height: 100%;
}



/*タブレット用*/
@media all and (max-width: 1024px) {}

/*スマホ用*/
@media all and (max-width: 599px) {}

.main-menu ul li {
  text-align: center;
}

main {
  display: block;
  flex-direction: unset;
}

.sub-menu ul li {
  text-align: center;
}

.gallery {
  grid-template-columns: 1fr 1fr;
}



@media (max-width:767px) {
  .row {
    flex-direction: column;
  }
}